@font-face {
  font-family: "NotoBold";
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/notosans-bold-webfont.svg#noto_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoItalic";
  src: url("../fonts/notosans-italic-webfont.eot");
  src: url("../fonts/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoRegular";
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff"), url("../fonts/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoLight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff"), url("../fonts/notosans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "NotoRegular";
}
@media only screen and (max-width: 480px) {
  body .video {
    width: 250px;
    height: 160px;
  }
  body .firts-titles {
    margin: 1em 0;
    padding: 0 1em;
  }
  body .row {
    margin: 0;
    padding: 0 3em;
  }
  body .col {
    margin: 0.5em;
    padding: 0;
  }
  body .logo {
    position: absolute;
    top: 1em;
    left: 4em;
    font-size: 18px;
  }
  body .color-logo {
    font-size: 18px;
  }
  body .icons-lite {
    width: 30px;
    padding: 2em 0;
  }
  body .top-nav {
    padding: 0 3em;
  }
  body .nav {
    position: absolute;
    top: 0em;
    left: -25em;
    margin: 0;
    padding: 2em 3em;
    width: 100%;
    height: 100%;
    background: #353f46;
    z-index: 2;
    display: block;
    transition: 0.5s;
  }
  body .btn-top {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  body .btn-top :hover {
    border: none;
  }
  body .close-menu {
    display: inline;
    float: right;
    font-size: 30px;
  }
  body .mob-menu {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    display: inline;
    font-size: 35px;
  }
  body .nav-portfolio {
    padding: 0 0em;
  }
  body .icons {
    font-size: 10px;
    padding: 1em;
  }
  body .input-text {
    padding: 0.7em;
    margin: 0.5em 0;
  }
  body .footer-nav {
    width: 100%;
  }
  body .footer-btn {
    font-size: 11px;
  }
}

.row {
  width: 100%;
  height: auto;
  padding: 0 10em;
}
@media only screen and (max-width: 480px) {
  .row .video {
    width: 250px;
    height: 160px;
  }
  .row .firts-titles {
    margin: 1em 0;
    padding: 0 1em;
  }
  .row .row {
    margin: 0;
    padding: 0 3em;
  }
  .row .col {
    margin: 0.5em;
    padding: 0;
  }
  .row .logo {
    position: absolute;
    top: 1em;
    left: 4em;
    font-size: 18px;
  }
  .row .color-logo {
    font-size: 18px;
  }
  .row .icons-lite {
    width: 30px;
    padding: 2em 0;
  }
  .row .top-nav {
    padding: 0 3em;
  }
  .row .nav {
    position: absolute;
    top: 0em;
    left: -25em;
    margin: 0;
    padding: 2em 3em;
    width: 100%;
    height: 100%;
    background: #353f46;
    z-index: 2;
    display: block;
    transition: 0.5s;
  }
  .row .btn-top {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .row .btn-top :hover {
    border: none;
  }
  .row .close-menu {
    display: inline;
    float: right;
    font-size: 30px;
  }
  .row .mob-menu {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    display: inline;
    font-size: 35px;
  }
  .row .nav-portfolio {
    padding: 0 0em;
  }
  .row .icons {
    font-size: 10px;
    padding: 1em;
  }
  .row .input-text {
    padding: 0.7em;
    margin: 0.5em 0;
  }
  .row .footer-nav {
    width: 100%;
  }
  .row .footer-btn {
    font-size: 11px;
  }
}

.col {
  margin: 0.5em;
  display: inline-block;
  padding: 0;
}

.col-md-7 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container-header {
  width: 100%;
  height: 500px;
  margin: 0;
  background-image: url(../imgs/header.jpg);
}

.top-nav {
  width: 100%;
  height: 70px;
  background: #353f46;
  opacity: 90%;
  margin: 0 0 5em 0;
  padding: 1em 10em;
}

.logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "NotoBold";
  font-size: 30px;
  text-align: center;
  color: #fff;
}
.logo:hover {
  color: #fff;
}

.color-logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "NotoBold";
  font-size: 30px;
  text-align: center;
  color: #4bcaff;
}
.color-logo:hover {
  color: #fff;
}

.nav {
  margin: 0;
  padding: 0.5em 0;
  float: right;
}

.close-menu {
  display: none;
}

.mob-menu {
  display: none;
}

.btn-top {
  font-family: "NotoBold";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}
.btn-top:hover {
  border: 3px solid #4bcaff;
  color: #4bcaff;
}

.firts-titles {
  margin: 10em 0;
  padding: 0 25em;
}
@media only screen and (max-width: 480px) {
  .firts-titles .video {
    width: 250px;
    height: 160px;
  }
  .firts-titles .firts-titles {
    margin: 1em 0;
    padding: 0 1em;
  }
  .firts-titles .row {
    margin: 0;
    padding: 0 3em;
  }
  .firts-titles .col {
    margin: 0.5em;
    padding: 0;
  }
  .firts-titles .logo {
    position: absolute;
    top: 1em;
    left: 4em;
    font-size: 18px;
  }
  .firts-titles .color-logo {
    font-size: 18px;
  }
  .firts-titles .icons-lite {
    width: 30px;
    padding: 2em 0;
  }
  .firts-titles .top-nav {
    padding: 0 3em;
  }
  .firts-titles .nav {
    position: absolute;
    top: 0em;
    left: -25em;
    margin: 0;
    padding: 2em 3em;
    width: 100%;
    height: 100%;
    background: #353f46;
    z-index: 2;
    display: block;
    transition: 0.5s;
  }
  .firts-titles .btn-top {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .firts-titles .btn-top :hover {
    border: none;
  }
  .firts-titles .close-menu {
    display: inline;
    float: right;
    font-size: 30px;
  }
  .firts-titles .mob-menu {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    display: inline;
    font-size: 35px;
  }
  .firts-titles .nav-portfolio {
    padding: 0 0em;
  }
  .firts-titles .icons {
    font-size: 10px;
    padding: 1em;
  }
  .firts-titles .input-text {
    padding: 0.7em;
    margin: 0.5em 0;
  }
  .firts-titles .footer-nav {
    width: 100%;
  }
  .firts-titles .footer-btn {
    font-size: 11px;
  }
}

.header-titles {
  font-family: "NotoLight";
  font-size: 30px;
  color: #fff;
  text-align: center;
  background-color: #353f46;
  margin: 0.2em 0;
}

.white-titles {
  font-family: "NotoLight";
  font-size: 30px;
  margin: 1em 0;
  padding: 0;
  color: #fff;
}

.dark-titles {
  font-family: "NotoLight";
  font-size: 30px;
  margin: 1em 0;
  padding: 0;
  color: #353f46;
}

.container-services {
  width: 100%;
  margin: 0;
  padding: 2em 0;
  background: #4bcaff;
}

.subtitle-text {
  margin: 0.5 0;
  font-size: 24px;
  color: #fff;
}

.text {
  margin: 0.5 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.container-portfolio {
  padding: 2em 0;
  width: 100%;
  margin: 0;
}

.nav-portfolio {
  width: 100%;
}

.btn-portfolio {
  font-family: "NotoBold";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #353f46;
  padding: 0 0.5em;
}
.btn-portfolio:hover {
  border: 3px solid #4bcaff;
  color: #4bcaff;
}

.container-media {
  background: #353f46;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2em 0;
}

.btn-media {
  font-family: "NotoBold";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #353f46;
  margin: 0;
  padding: 0.5em 2em;
  color: #353f46;
}
.btn-media:hover {
  border: 3px solid #4bcaff;
  color: #4bcaff;
}

.video {
  width: 640px;
  height: 360px;
}

.container-twitter {
  background: #4bcaff;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2em 0;
}

.container-john {
  background: url(../imgs/camera.jpg);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2em 0;
}

.icons-lite {
  width: 40px;
  height: auto;
  margin: 0;
  padding: 1em 0;
}

.icons {
  border: 3px solid #fff;
  text-align: center;
  padding: 1em;
  margin: 0.5em;
}

.container-testimonial {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2em 0;
}

.black-text {
  color: #353f46;
  font-family: "NotoLight";
  font-size: 14px;
}

.witness-name {
  color: #4bcaff;
  font-family: "NotoRegular";
  font-size: 12px;
}

.container-contact {
  background: url(../imgs/contact.jpg);
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2em 0;
  color: #fff;
}

.input-text {
  margin: 0;
  padding: 0.5em;
  height: auto;
  border: 1px solid #fff;
  background: no-repeat;
}

.btn-msj {
  background: #4bcaff;
  color: #fff;
  font-family: "NotoBold";
  font-size: 14px;
  border: none;
  border-radius: 0.2em;
  margin: 1.5em 0;
  padding: 1em;
  max-width: 18em;
}

footer {
  width: 100%;
  height: auto;
  background: #353f46;
  padding: 1em 0;
}

.footer-nav {
  margin: 0;
  padding: 0;
  width: 50%;
}

.footer-btn {
  color: black;
  padding: 0.2em 0.5em;
  font-family: "NotoBold";
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.footer-btn:hover {
  color: #4bcaff;
}